@{
    ViewBag.Title = "💖💖 SeeNow 💖💖 聯絡方式";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    <p>勞動部勞動力發展署高屏澎東分署</p>
    地址 :<br />
    高雄市<br />
    前鎮區凱旋四路105號<br />
    <abbr title="電話">Tel:</abbr>
           07 821 0171
</address>

<address>
    @*<strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>*@
</address>